[submodule ".vim/colors/chalk"]
	path = .vim/colors/chalk
	url = https://github.com/sblauen/chalk.git
[submodule ".vim/pack/gpb/start/vim-surround"]
	path = .vim/pack/gpb/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/pack/gpb/start/vim-bufferline"]
	path = .vim/pack/gpb/start/vim-bufferline
	url = https://github.com/bling/vim-bufferline
[submodule ".vim/pack/gpb/start/vim-fugitive"]
	path = .vim/pack/gpb/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
